/*   navbar      */

#main-head {
    height: 9vh;
    width: 100vw;
}

.searchContainer {
    height: 80vh;
    width: 100vw;
    margin-top: 20em;
    background: url("https://wordpress-network.prod.aws.skyscnr.com/wp-content/uploads/2018/05/new-york-city-187703420.jpg");
    background-size: cover;
}

.nav-list{
    text-align: right;
    list-style-type: none;
    font-size: 25px;
}

/*   search bar      */

.search-bar-header {
    text-align: center;
    font-size: 20px;
}

.searchbox {
    width: 100%;
}

.search-bar-sub-header {
    text-align: center;
    font-size: 10px;
}

.search-margin {
    margin-top: 10em;
}


/*   Google maps section      */

#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }