/*   navbar    ----------------------------------------  */

.navbar-toggler-icon {
    z-index: 100;
}

.nav-list{
    text-align: right;
    list-style-type: none;
    font-size: 25px;
    z-index: 100;
}

/*   search bar  ----------------------------------------    */

.searchContainer {
    height: 60vh;
    width: 100%;
    margin-top: 20em;
    background-image: url("../assets/bannerphoto.jpg");
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.search-bar-header {
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.searchbox {
  width: 90%;
  height: 60px;
    -webkit-box-shadow: 5px 10px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 4px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 10px 4px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 10px 4px rgba(0,0,0,0.2);
    box-shadow: 5px 10px 4px rgba(0,0,0,0.2);
}

.searchboxMaps {
  width: 90%;
}

.search-bar-button {
  height: 60px;
    -webkit-box-shadow: 5px 10px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 4px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 10px 4px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 10px 4px rgba(0,0,0,0.2);
    box-shadow: 5px 10px 4px rgba(0,0,0,0.2);
}

.search-bar-sub-header {
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.search-margin {
    margin-top: 5em;
}

#cityInBudget {
  overflow-y: scroll;
  scrollbar-width: 5px;
  -ms-overflow-style: none;
  height: 200px;
  width: 300px;
}

#cityInBudget::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}
.filtered-city-name {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.filtered-city-button {
  width: 6em;
}




/*   Google maps section   --------------------------------   */

#map {
        height: 600px;  
        width: 100%;  
       }

      .city-search {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 1;
        width: 100%;
      }
      
      #locationField {
        width: 100%;
      }
      
      #findCities {
        text-align: right;
      }

      #controls {
        width: 100%;
      }
      

      #listing {
        width: 200px;
        height: 600px;
        overflow: auto;
        cursor: pointer;
        overflow-x: hidden;
      }

      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .cityIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 200px;
        opacity: 0.9;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }

@media (max-width: 767px) {


  .searchContainer {
    height: 80vh;
  }
}

/*   Carousel section      */      
      
/*below ipad screen size only one slide card shown*/

@media (min-width: 768px) {

    /* 3 cards */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) 
    + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) 
    + .carousel-item + .carousel-item {
        transition: none;
        margin-right: initial;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;

    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* card items going left */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translateX(-100%);
        visibility: visible;
    }
    
    /* animatons start at far right card */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* items going right*/
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translateX(100%);
        visibility: visible;
        display: block;
    }

}

.carousel-item img {
  transform-origin: 50% 65%;
  transition: transform 2s, filter 1s ease-in-out;
  filter: brightness(150%);
}

.carousel-item:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    overflow: hidden;
}

#trending {
    height: 500px;
    width: 80%;
}

/*--footer--*/


.footer-main-section {
    width: 100%;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    display: block;
}

.footer-icons a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #664E4C;
}

.footer-icons a:hover {
    color: #FFD4CA;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.kayak-section {
  height: 350px;
}

#kayakSearchWidgetContainer {
    height: 350px;
}

.book-button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

html {
  scroll-behavior: smooth;
  
}
body {
  overflow-x: hidden;
}

#info-content {
  width: 200px;
}