#main-head {
    height: 90vh;
    width: 100vw;
}

.nav-list{
    text-align: right;
    
}

.search-bar-header {
    text-align: center;
    font-size: 20px;
}

.searchbox {
    width: 100%;
}

.search-bar-sub-header {
    text-align: center;
    font-size: 10px;
}

