/*   navbar      */

.navbar-toggler-icon {
    z-index: 100;
}

.nav-list{
    text-align: right;
    list-style-type: none;
    font-size: 25px;
    z-index: 100;
}

/*   search bar  ----------------------------------------    */

.searchContainer {
    height: 70vh;
    width: 100%;
    margin-top: 20em;
    background: url("https://wordpress-network.prod.aws.skyscnr.com/wp-content/uploads/2018/05/new-york-city-187703420.jpg");
    background-size: cover;
}

.search-bar-header {
    text-align: center;
    font-size: 20px;
}

.searchbox {
  width: 90%;
  height: 60px;
    -webkit-box-shadow: 5px 10px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 4px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 10px 4px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 10px 4px rgba(0,0,0,0.2);
    box-shadow: 5px 10px 4px rgba(0,0,0,0.2);
}

.searchboxMaps {
  width: 90%;
}

.search-bar-button {
  height: 60px;
    -webkit-box-shadow: 5px 10px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 4px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 10px 4px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 10px 4px rgba(0,0,0,0.2);
    box-shadow: 5px 10px 4px rgba(0,0,0,0.2);
}

.search-bar-sub-header {
    text-align: center;
    font-size: 10px;
}

.search-margin {
    margin-top: 10em;
}


/*   Google maps section   --------------------------------   */

#map {
        height: 600px;  
        width: 100%;  
       }

      .city-search {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 1;
        width: 600px;
      }
      
      #locationField {
        width: 100%;
      }
      
      #findCities {
        text-align: right;
      }

      #controls {
        width: 100%;
      }

      #listing {
        width: 200px;
        height: 600px;
        overflow: auto;
        cursor: pointer;
        overflow-x: hidden;
      }

      .placeIcon {
        width: 20px;
        height: 34px;
        margin: 4px;
      }
      .cityIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
        border-collapse: collapse;
        width: 240px;
        opacity: 0.4;
      }
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }

@media (max-width: 767px) {
  #listing {
    display: none;
  }
}

/*   Carousel section      */      
      
/*below ipad screen size only one slide card shown*/

@media (min-width: 768px) {

    /* 3 cards */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) 
    + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) 
    + .carousel-item + .carousel-item {
        transition: none;
        margin-right: initial;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;

    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* card items going left */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translateX(-100%);
        visibility: visible;
    }
    
    /* animatons start at far right card */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* items going right*/
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translateX(100%);
        visibility: visible;
        display: block;
    }

}

.carousel-item img {
  transform-origin: 50% 65%;
  transition: transform 2s, filter 1s ease-in-out;
  filter: brightness(150%);
}

.carousel-item:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    overflow: hidden;
}

#trending {
    height: 550px;
    width: 80%;
}